<% provide(:title,"Noxel")%>
<div class="top-container">
  <div class="">
      <h1 class="text-white text-center">Welcome to Noxel</h1>
      <p class="text-white text-center">Noxelは作家とイラストレーターを繋げるサービスです</p>
    <%= link_to "新規作成", new_user_path, class: "btn btn-success text-white btn-block"%>
    <%= link_to "ログイン", login_path, class: "btn btn-danger text-white btn-block"%>
  </div>
</div>
