<% provide(:title,"Noxel")%>

<div class="container">
  <div class="jumbotron m-3">
    <h1 class="display-4">Hello, Bootstrap!</h1>
    <hr class="my-4">
    <p>This is the template of Ruby on Rails using Bootstrap.</p>

  <%= link_to "新規登録", new_user_path, class: "btn btn-lg btn-primary" %>

  </div>
</div>
