<% provide(:title,"Noxel")%>

<div class="main-rapper">
  <h1>Welcome</h1>
  <div class="">
    <%= link_to "新規作成", new_user_path, class: "btn btn-success text-white btn-block"%>
    <%= link_to "ログイン", login_path, class: "btn btn-danger text-white btn-block"%>
  </div>

</div>
