<h1>Noxel</h1>

<p>こんにちは <%= @user.name %>,</p>

<p>
ようこそNoxelへ! 下記をクリックしてアカウントを有効化してください！
</p>

<%= link_to "有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
