<% provide(:button_text, "アカウント作成") %>

<div class="row pt-3">
  <div class="col-md-8 mx-auto">
    <h3>新規登録</h3>

    <%= render 'form', user: @user %>
    <%= link_to '戻る', root_path %>
  </div>
</div>
