    <tr id="novel-<%= novel.id %>"">
      <td scope="row" class="title">
          <%= link_to novel.title, novel_path(novel.id) %>
          <% if novel.description  %>
          <span class="description text-break"><%= novel.description.truncate(50)%></span>
          <% end %>
      </td>
      <!-- <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td> -->
    </tr>
