<li id="novel-<%= novel.id %>">
  <span class="title"><%= link_to novel.title, novel_path(novel.id) %></span>
  <% if novel.description  %>
  <!-- <span class="description"><%= novel.description%></span> -->
  <% end %>
</li>
