<div class="row">
  <div class="mx-auto mt-5">
    <% if room.receiver.id == @user.id  %>
      <%= link_to room.sender.name, room %>との部屋
    <% else %>
      <%= link_to room.receiver.name, room %>との部屋
    <% end  %>
  </div>
</div>
