<div class="row">
  <%= link_to room, class: "mx-auto mt-5 border border-dark py-2 px-5" do %>
    <% if room.receiver.id == @user.id  %>
      <%=  room.sender.name %>との部屋
    <% else %>
      <%=  room.receiver.name %>との部屋
    <% end  %>
  <% end  %>
</div>
