<div class="container m-0 mx-auto">

  <footer class="footer bg-white text-center m-0">
    <nav class="text-right">
      <span>
          <%= link_to "お問い合わせ", '#' %>
      </span>
    </nav>
      <small class="text-center">
        Copyright © 2019 Noxel
      </small>
  </footer>

</div>
