<footer class="footer bg-white text-center">
  <nav class="text-right">
    <span>
        <%= link_to "お問い合わせ", '#' %>
    </span>
  </nav>
    <small class="text-center">
      Copyright © 2019 Noxel
    </small>
</footer>
